/*GENERAL*/

/*1: Navbar*/
.container-fluid.navbar-container {
	background-color: black;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-inverse {
	background-color: black;
	border-radius: 0px;
}
.navbar-inverse .container-fluid {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-brand img{
	height: 50px;
	margin-left: 10px;
}
.navbar-brand {
	padding: 0px;
}


/*Home Page Starts*/
/*Static Background Section*/
.static-background-container h1 {
	color: #ffffff;
}
.static-background-container h2 {
	color: #CE581A;
}
.static-background-container h3 {
	color: #ffffff;
}
.static-background-container p {
	color: #ffffff;
}
.static-background-container span {
	color: #CE581A;
}
.static-background-container .col-sm-6 {
	padding-top: 100px;
}

/*VINYL Section */
.container-fluid.vinyl-section h1 {
	color: #ffffff;
}
.container-fluid.vinyl-section h2 {
	color: #CE581A;
}
.container-fluid.vinyl-section h3 {
	color: #ffffff;
}
.container-fluid.vinyl-section p {
	color: #ffffff;
}
.container-fluid.vinyl-section {
	background-color: black;
	height: 20000px;
}
.container-fluid.vinyl-section .container {
	background-color: #202731;
	margin-top: -100px;
	height: 500px;
}
.container-fluid.vinyl-section .col-md-6 {
	padding-top: 100px;
}
.container-fluid.vinyl-section .col-md-6 img{
	height: 350px;
	float: right;
}
/*Home Page Ends*/



